* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Albert Sans", sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: rgb(55, 55, 55);
    padding: 20px;
}

section {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}

#s1 {
    background-color: #b2f2bb; 
}

#s1 h3 {
    font-size: 20px;
    text-align: center;
}

#s2 {
    background-color: #ffe8cc; 
}

#s2 h3 {
    font-size: 20px;
    text-align: center;
}

#s3 {
    background-color: #c5dfff; 
}

#s3 h3 {
    font-size: 20px;
    text-align: center;
   
}

#s4 {
    background-color: #ffd6e0; 
}

#s4 h3 {
    font-size: 20px;
    text-align: center;
   
}

.box1 {
    background-color: gray;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.5s;
}

.box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 100px;
}

.box1:hover {
    transform: scale(1.2);
    background: #ff800a;
    z-index: 2;
    box-shadow: 2px 2px 8px #000;
}

h3 {
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
    color: #000;
}

.feedback {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    font-family: "Albert Sans", sans-serif;
    color: white;
    background-color: #444;
  }
  